
<div class="footer">
	<div class="footer-container">
		<div class="footer-credits">
			<a class="footer-text">
				<i class="fa fa-copyright"></i> 2020 Alejandro Seguí Díaz
			</a>
		</div>
		<div class="footer-links-panel">
			<div class="menu-ext-link">
				<a href="https://github.com/{{site.github_username}}">
					<i class="fa fa-github-square"></i>
				</a>
			</div>
			<div class="menu-ext-link">
				<a href="https://linkedin.com/in/alesegdia">
					<i class="fa fa-linkedin-square"></i>
				</a>
			</div>
			<div class="menu-ext-link">
				<a href="https://twitter.com/alesegdia">
					<i class="fa fa-twitter-square"></i>
				</a>
			</div>
			<div class="menu-ext-link">
				<a href="https://twitter.com/alesegdia">
					<i class="fa fa-envelope-square"></i>
				</a>
			</div>
		</div>
		<img src="/assets/infinity.svg" />
	</div>
</div>
