<head>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Volkhov" type="text/css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro" type="text/css">
	<link rel="stylesheet" href="/css/styles.css">
	<script src="{{ '/assets/js/script.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/shader-background.js' | relative_url }}"></script>
	<title>alesegdia</title>

</head>
