
<div class="top-menu pure-menu pure-menu-horizontal">

	<div class="total-panel">
		<div>
			<div class='circled-image' style='background-image: url("/assets/yocara2.jpg")'></div>
			<a class="menu-title">alesegdia</a></b>
		</div>
		<ul class="pure-menu-list">
			<li class="top-menu-item pure-menu-item"><a href="{{site.url}}/" class="pure-menu-link">about</a></li>
			<li class="top-menu-item pure-menu-item"><a href="{{site.url}}/blog" class="pure-menu-link">Blog</a></li>
			<li class="top-menu-item pure-menu-item"><a href="{{site.url}}/resume" class="pure-menu-link">Resume</a></li>
			<li class="top-menu-item pure-menu-item"><a href="{{site.url}}/games" class="pure-menu-link">Games</a></li>
			<li class="top-menu-item pure-menu-item"><a href="{{site.url}}/other-projects" class="pure-menu-link">Projects</a></li>
		</ul>
	</div>
	<!--
	<div class="links-panel">
		<div class="menu-ext-link">
			<a href="https://github.com/{{site.github_username}}">
				<i class="fa fa-github"></i>
			</a>
		</div>
		<div class="menu-ext-link">
			<a href="https://linkedin.com/in/alesegdia">
				<i class="fa fa-linkedin"></i>
			</a>
		</div>
		<div class="menu-ext-link">
			<a href="https://twitter.com/alesegdia">
				<i class="fa fa-twitter"></i>
			</a>
		</div>
		<div class="menu-ext-link">
			<a href="https://twitter.com/alesegdia">
				<i class="fa fa-envelope"></i>
			</a>
		</div>
	</div>
	-->
</div>


