
<div class="top-menu pure-menu pure-menu-horizontal">

	<div class="total-panel">
		<div>
		<br/>
		<div class='circled-image' style='background-image: url("/assets/melogo.png")'></div>
			<b><a class="menu-title"> </a></b>
		</div>
		<ul class="pure-menu-list">
			<li class="top-menu-item pure-menu-item"><a href="{{site.url}}/" class="pure-menu-link">GAMES</a></li>
			<li class="top-menu-item pure-menu-item"><a href="{{site.url}}/tools" class="pure-menu-link">TOOLS</a></li>
			<li class="top-menu-item pure-menu-item"><a href="https://github.com/alesegdia" target="_blank" class="pure-menu-link">GITHUB</a></li>
			<li class="top-menu-item pure-menu-item"><a href="https://www.linkedin.com/in/alesegdia/" target="_blank" class="pure-menu-link">RESUME</a></li>
		</ul>
	</div>
	<div class="links-panel">
		<div class="menu-ext-link">
		</div>
		<div class="menu-ext-link">
			<a href="https://linkedin.com/in/alesegdia">
				<i class="fa fa-linkedin"></i>
			</a>
		</div>
		<div class="menu-ext-link">
			<a href="https://twitter.com/alesegdia">
				<i class="fa fa-twitter"></i>
			</a>
		</div>
		<div class="menu-ext-link">
			<a href="https://twitter.com/alesegdia">
				<i class="fa fa-envelope"></i>
			</a>
		</div>
	</div>
</div>


